@import "node_modules/@unumux/theme-coloniallife-default/styles";

.ghost-button-container {
    background-color: $color-mint;
    display: inline-block;
    margin: 20px;
    padding: 20px;

}

.ghost-button-container-blue {
    background-color: $color-steel-blue;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}